/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

.greenColor{
	color: #6F7A73;
}

.buttonArounded
{
	cornerRadius: 20;	
}

.buttonSquared
{
	cornerRadius: 0;	
}



s|ActionBar
{
	chromeColor: #97A697;
	defaultButtonAppearance: beveled;
}


@media (os-platform: "Android")
{
	/* Android Gingerbread style Panel skin*/
	/* not picked up from mobile_examples.swc because the spark theme has higher priority */
	
	s|TabbedViewNavigatorApplication #tabBar
	{
		skinClass: ClassReference("spark.skins.ios.TabbedViewNavigatorTabBarSkin");
		chromeColor: #000000;
	}
	
	s|Button
	{
		fontWeight:bold;
	}
	
	s|ActionBar #titleDisplay
	{
		fontWeight: bold;
		fontStyle: normal;
	}
	
	s|ActionBar.beveled s|Group#navigationGroup s|Button
	{
		/* use the rounded button instead of the arrow button */
		skinClass: ClassReference("spark.skins.mobile.BeveledActionButtonSkin");
	}
	
	s|Panel
	{
		/*skinClass: ClassReference("spark.skins.mobile.PanelSkin");*/
		borderWeight: 6;
		borderColor: #666666;
		backgroundColor: #FFFFFF;
		fontWeight: normal;
	}
	
	s|Panel s|Button
	{
		fontWeight: normal;
	}
	
	s|Panel #titleDisplay
	{
		color: #FFFFFF;
		fontSize: 28;
	}
}

@media (os-platform: "Android") and (application-dpi: 160)
{
	s|Panel
	{
		borderWeight: 4;
	}
	
	s|Panel #titleDisplay
	{
		fontSize: 18;
	}
}

@media (os-platform: "Android") and (application-dpi: 320)
{
	s|Panel
	{
		borderWeight: 8;
	}
	
	s|Panel #titleDisplay
	{
		fontSize: 36;
	}
}
